Source: libclocale
Section: libs
Priority: extra
Maintainer: Joachim Metz <joachim.metz@gmail.com>
Build-Depends: debhelper (>= 7), autotools-dev
Standards-Version: 3.9.5
Homepage: https://github.com/libyal/libclocale/

Package: libclocale
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: libclocale-dbg
Description: Library to support cross-platform C locale functions
 libclocale is a library to support cross-platform C locale functions.

Package: libclocale-dbg
Architecture: any
Section: debug
Depends: libclocale (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for libclocale
 Debugging symbols for libclocale.

Package: libclocale-dev
Section: libdevel
Architecture: any
Depends: libclocale (= ${binary:Version}), ${misc:Depends}
Description: Header files and libraries for developing applications for libclocale
 Header files and libraries for developing applications for libclocale.

